{sub_dirs,["deps","apps"]}.
{lib_dirs,["apps"]}.
{deps_dir,["deps"]}.
{deps, [
    {bert_server, ".*", {git, "git://github.com/synrc/bert_server.git", "master"}},
    {sync,        ".*", {git, "git://github.com/doxtop/sync", "HEAD"}},
    {lager,       ".*", {git, "git://github.com/basho/lager", {tag,"1.2.2"}}},
    {kvs,         ".*", {git, "git://github.com/synrc/kvs.git", "master"}}
]}.
