{sub_dirs,["deps","apps"]}.
{lib_dirs,["apps"]}.
{deps_dir,["deps"]}.
{deps, [
    {bert_server, ".*", {git, "git://github.com/synrc/bert_server.git", "master"}},
    {lager,       ".*", {git, "git://github.com/basho/lager", {tag,"1.2.2"}}},
    {n2o,           ".*", {git, "git://github.com/5HT/n2o.git", "HEAD"}},
    {eper,          ".*", {git, "git://github.com/massemanet/eper.git", "HEAD"}},
    {oauth,         ".*", {git, "git://github.com/doxtop/erlang-oauth.git", "master"}},
    {kvs,         ".*", {git, "git://github.com/synrc/kvs.git", "master"}}
]}.
